

gretting <%= userName %>

<form method="POST" action="addinfo">
    <label for = "class">class</label>
    class: <input type="text" placeholder="class" name="class">class <br>
    name:<input type="text" placeholder="name" name="name">name <br>
    topic:<input type="text" placeholder="topic" name="topic">topic <br>
    <button type="submit">Submit</button>
</form>

<!-- <form method="POST" action="/addDrink">
    <label for="drink_name">Drink</label>
        <input name="drink_name" value="new drink">
    <br>
    <label for="size">size</label>
      <input name="size" value="gallon"> 
    <br>
</form> -->

<a target= "_blank" href= "https://github.com/NashJ99/NashQuebecB"> The source</a>








