<h3>topics</h3>
<% for (var i=0; i<  topics.length; i++ ) { %>
    <form method="POST" action="/deleteinfo/<%=topics[i]._id %>" style="display: inline-block">  
      <%=  topics[i].name %> (<%=  topics[i].class %>)
      <input type="submit" value="delete"> 
    </form>
    <br/>
  <% } %> 


<form method="POST" action="/addinfo">
    <label for = "class">class</label>
    <input type="text" placeholder="class" name="class"><br>
    <label for = "name">name</label>
    <input type="text" placeholder="name" name="name"><br>
    <!-- <label for = "topic">topic</label>
    <input type="text" placeholder="topic" name="topic"><br> did not show -->
    <input type="submit" value = "add info" />
</form>



<a target= "_blank" href= "https://github.com/NashJ99/NashQuebecB"> The source</a>








