we are in ejs <%= userName %>

<form method="POST" action="addinfo">

    <input type="text" placeholder="name" name="class"> <br>
    <input type="text" placeholder="name" name="name"> <br>
    <input type="text" placeholder="name" name="topic"> <br>
    <button type="submit">Submit</button>

</form>