

greeting <%= userName %>

<!-- <% for (var i=0; i<  Papacis486.length; i++ ) { %>
    <form method="POST" action="/deleteDrink/<%=  Papacis486[i]._id %>" style="display: inline-block">  
      <%=  Papacis486[i].name %> (<%=  Papacis486[i].class %>) 
      <input type="submit" value="delete"> 
    </form>
    <br/>
  <% } %>  -->


<form method="POST" action="addinfo">
    <label for = "class">class</label>
    <input type="text" placeholder="class" name="class"><br>
    <label for = "name">name</label>
    <input type="text" placeholder="name" name="name"><br>
    <label for = "topic">topic</label>
    <input type="text" placeholder="topic" name="topic"><br>
    <button type="submit">Submit</button>
</form>



<a target= "_blank" href= "https://github.com/NashJ99/NashQuebecB"> The source</a>








